<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'todo_app/base.html'%}

    {% block content%}
    <div class="img-box">
    </div>
    <div class="hero-text-box">
        <h1>Simply Organize your tasks</h1>
        <h1>with ToDooo</h1>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Let's Start</a>
    </div>
    {% endblock %}
</body>
</html>