<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View todo</title>
</head>
<body>
    {% extends 'todo_app/base.html'%}

    {% block content%}
        <div>
            <p>
                View todo
            </p>
            <p>
                {{todo.title}}
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Save</button>
                </form>

                <form method="POST" action="{% url 'completetodo' todo.id %}">
                    {% csrf_token %}
                    <button type="submit">Complete</button>
                </form>
                
                <form method="POST" action="{% url 'deletetodo' todo.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </p>
        </div>
    {% endblock %}
</body>
</html>